body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote，th,td{margin:0;padding:0; -webkit-tap-highlight-color:rgba(255,255,255,0);}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
capation,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before, q:after{content:' '}
abbr,acronym{border:0;}
a{text-decoration: none;color:#333;}
i{font-style: normal;}
input:focus {
  outline:none;
}
a, button{
  -ms-touch-action: manipulation; 
  touch-action: manipulation;       
}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin-left:auto;margin-right:auto;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden}
/*.clearfix{display:inline-block;}*/
*html .clearfix{height:1%}
.Clearfix{display:block;}
.vm{vertical-align:center;}
.pr{position:relative;}
.pa{position:absolute;}
.abs-right{position:absolute;right:0;}
.zoom{zoom:1}
.hidden{visibility:hidden;}
.none{display:none;}
.overflow{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.relative{
  position:relative;
}
input[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: none;
}
textarea {  -webkit-appearance: none;}   
.button{ border-radius: 0; } 
/* -----------自定义内容区通用样式 */
.contentMain{
    margin:0 16px;
     
    background:white;
}
.nav-tabs-custom>.nav-tabs>li>a{
cursor:pointer;
}
.content-header {
    position: relative;
    padding: 15px 15px 15px 0;
    margin-top:0!important;
}
/*[v-cloak] {
  display: none;
}
*/
/*左侧菜单栏*/
   .skin-blue .sidebar-menu>li>a{
  cursor:pointer;
}
 
#masking{
  position: absolute;
  height:100%;
  width:100%;
  margin:auto;
  top:0;bottom:0;
  left:0;right:0;
  display: none;
  background:black;
  opacity:0.5;
  z-index: 99;
}
.row table{
  border-top:1px solid green;
}
.row th,td{
  text-align:center;
}
/*弹框头样式*/
.cosTop{
    height:45px;
     border-bottom: 2px solid #f1f1f1;
     margin-bottom:10px;
 }
.topName{
     
     float:left;
     width:200px;
     height:45px;
     line-height: 45px;
     
     background:#f1f1f1;
     border-top-left-radius:10px;
     border-top-right-radius:10px;
     text-align:center;
     border: 2px solid #f1f1f1;
     border-bottom: none;
     
     cursor: pointer;
 }
 .cosClose{
     width:40px;
     height:40px;
    
     float:right;
     font-size: 34px;
     text-align:center;
    line-height: 40px;
     
 }
 .glyphicon-remove:hover{
     color:brown;
     cursor: pointer;
 }
/*弹出提示框*/
.modal-dialog{
  width:100px;
  margin:200px auto;
}
.modal-header{
  display: none;
}
.bootstrap-dialog-message{
  text-align: center;
}
/* 时间框 */
.time-input{
  display: block;
  margin:auto;
  width:150px;
}








